<div class="news-item clearfix">
    {$news:actions}
    <time class="news-item-date icon-calendar2 small block mb10px"  datetime="{$news:publishat:Y-m-d}">{$news:publishat: M d, Y}</time>
    <a class="news-item-image text-center flex_3 f-alpha" href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title:inline}" loading="lazy"/>
    </a>
    <a class="news-item-title large flex_9 f-omega" href="{$news:url}">{$news:title}</a>
    <p class="news-item-description flex_9 f-omega small mb10px">{$news:teaser}</p>
    <p class="news-item-tags small cl-both text-right">{$news:tags}</p>
</div>